<footer class="site-footer h-card">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>

    <div class="wrapper">

        <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col--address">
                If you have any question, you can contact the organizers at <a href="mailto:howcom2021@easychair.org">howcom2021@easychair.org</a>
            </div>
        </div>

    </div>

</footer>
