@import url("pygment_highlights.css");

/* --- General --- */

/* --- Lists of organizers --- */

.list-organizers {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .list-organizers{
    width: 150%;
    margin-left: -25%;
  }
}


.list-organizers-item {
  display: inline-block;
  width: 230px;
  vertical-align: top;
  margin: 0;
  padding: 20px;
}

.list-organizers-item:hover {
  background: #EFEFEF;
}

.list-organizers-item .item-img {
  max-width: 200px;
  height: 200px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.list-organizers-item .item-desc {
  font-size: 16px;
}

.list-organizers-item .item-links {
  margin-top: 5px;
}

.list-organizers-item .item-link {
  margin:0 3px;
  color: #00FF00;
  text-decoration: none !important;
}

.list-organizers-item .item-name {
  font-size: 16px;
  font-weight: 500;
}

a:link, a:visited {
  color: #0055F2;
}